.battle-log .p1.name{
    font-weight: bold;
    color: #ff8800;
}
.battle-log .p2.name{
    font-weight: bold;
    color: #005fcd;
}
.battle-log .damage.number{
    color: #f00;
}
.battle-log .log-item{
    padding-bottom: 2px;
}